# Compiled Java classes
*.class

# Libraries and dependencies
/lib/
/target/

# Build output
/out/

# macOS system files
.DS_Store

# Editor and IDE specific files
*.log
*.log.*
*.iml

# Eclipse-specific files
.classpath
.project
.settings/

# Gradle-specific files
.gradle/
build/
